{% extends "base.html" %}

{% block content %}
<h1 class="title">
    Users
</h1>
<br>
<center>
    <table class="table">
        <tr>
            <th> ID</th>
            <th> NAME</th>
            <th> EMAIL</th>
        </tr>
        {% for user in users %}
        <tr>
            <td> {{ user.id }}</td>
            <td> {{ user.name }}</td>
            <td> {{ user.email }}</td>
        </tr>
        {% endfor %}
    </table>
</center>
{% endblock %}